* {
  box-sizing: border-box;
  font-family: "Laila", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.logo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ham-menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url(../img/side_menu.png);
  background-size: cover;
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 200;
}

@media screen and (min-width: 1080px) {
  .ham-menu {
    display: none;
  }
}
.side_menu {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 300;
  background-color: #FFF;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 1s;
}
.side_menu .logo {
  width: 184px;
  height: 184px;
  margin: 56px auto 48px auto;
  background-image: url(../img/logo-green.png);
}
.side_menu .menu {
  margin: 0;
  padding: 0;
}
.side_menu .menu li {
  width: 100%;
  height: 48px;
  list-style: none;
  font-size: 16px;
  line-height: 48px;
  padding-left: 24px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
}
.side_menu .menu li:hover {
  background-color: #EFF9F7;
  color: #000;
}
.side_menu .menu li.active {
  background-color: #8DD7CC;
  color: #FFF;
}
.side_menu .menu hr {
  margin: 0;
  background-color: #EEB8AF;
  height: 2px;
  border: none;
}

.side_menu.active {
  left: 0;
}

.top_nav {
  width: 100%;
  height: 56px;
  border-bottom: 8px solid #8DD7CC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  z-index: 100;
}
.top_nav .homebtn {
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;
  transition: 0.5s;
}
.top_nav .homebtn .logo {
  width: 56px;
  height: 56px;
  background-image: url(../img/logo-green.png);
}
.top_nav .homebtn .name p {
  margin: 0;
  font-size: 10px;
  color: #8DD7CC;
}
.top_nav .options {
  display: none;
}

@media screen and (min-width: 768px) {
  .top_nav {
    height: 64px;
  }
  .top_nav .homebtn {
    width: 208px;
  }
  .top_nav .homebtn .logo {
    width: 64px;
    height: 64px;
  }
  .top_nav .homebtn .name p {
    font-size: 12px;
  }
}
@media screen and (min-width: 1080px) {
  .top_nav {
    height: 80px;
  }
  .top_nav .homebtn {
    width: 272px;
  }
  .top_nav .homebtn .logo {
    width: 80px;
    height: 80px;
    margin-right: 8px;
  }
  .top_nav .homebtn .name p {
    font-size: 16px;
  }
  .top_nav .options {
    display: flex;
    align-items: center;
    margin-right: 48px;
  }
  .top_nav .options li {
    list-style: none;
    font-size: 16px;
    margin-left: 32px;
    display: flex;
    cursor: pointer;
    color: #FFF;
    transition: 0.5s;
  }
  .top_nav .options li:hover {
    color: #63CCBC;
  }
  .top_nav .options li i {
    font-size: 16px;
  }
  .top_nav .options li p {
    margin: 0 0 0 8px;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid #FFF;
    transition: 0.5s;
  }
  .top_nav .options li p:hover {
    color: #000;
  }
  .top_nav .options .line {
    width: 2px;
    height: 40px;
    background-color: #8DD7CC;
    margin-left: 32px;
  }
}
.options li.active {
  color: #FFF;
}
.options li.active p {
  color: #000;
  border-bottom: 2px solid #63CCBC;
}

.page_7 {
  width: 100%;
  padding: 16px;
  margin-top: 56px;
}
.page_7 .content {
  background-color: #EFF9F7;
}
.page_7 .content .banner {
  width: 100%;
  height: 240px;
  position: relative;
}
.page_7 .content .banner img {
  width: 100%;
  height: 240px;
  opacity: 0.6;
}
.page_7 .content .banner p {
  width: 200px;
  font-size: 20px;
  margin: 0;
  position: absolute;
  text-align: center;
  top: calc(50% - 10px);
  left: calc(50% - 100px);
}
.page_7 .content hr {
  width: 80px;
  height: 2px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 40px;
  margin-bottom: 8px;
}
.page_7 .content h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
.page_7 .content h4 {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}
.page_7 .content .shopping_list {
  padding: 0px 16px;
}
.page_7 .content .shopping_list .list {
  padding: 16px;
  margin-bottom: 24px;
  background-color: #FFF;
  position: relative;
}
.page_7 .content .shopping_list .list .product {
  display: flex;
}
.page_7 .content .shopping_list .list .product img {
  width: 160px;
  height: 96px;
  margin-right: 8px;
}
.page_7 .content .shopping_list .list .product .text h4 {
  margin: 0;
  font-size: 16px;
  margin-top: 8px;
  letter-spacing: 2px;
}
.page_7 .content .shopping_list .list .product .text p {
  font-size: 14px;
  margin: 0;
  margin-top: 32px;
  color: rgba(0, 0, 0, 0.7);
}
.page_7 .content .shopping_list .list .close {
  width: 24px;
  height: 24px;
  background-color: #63CCBC;
  color: #FFF;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}
.page_7 .content .shopping_list .list .price {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 18px;
}
.page_7 .content .shopping_list .line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin-bottom: 16px;
}
.page_7 .content .shopping_list .total {
  display: flex;
  justify-content: space-between;
  padding: 0px 8px;
}
.page_7 .content .shopping_list .total .text, .page_7 .content .shopping_list .total .price {
  font-size: 20px;
}
.page_7 .content .shopping_list .btn {
  margin: 40px auto;
  width: 88px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.5s;
}
.page_7 .content .shopping_list .btn:hover {
  background-color: #EEB8AF;
  color: #FFF;
  border: 1px solid #EEB8AF;
}
.page_7 .content .footer {
  width: 100%;
  padding: 12px 16px;
  background-color: #63CCBC;
  color: #FFF;
  display: flex;
  justify-content: space-between;
}
.page_7 .content .footer .left {
  display: flex;
  align-items: center;
}
.page_7 .content .footer .left .logo {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  background-image: url(../img/logo-white.png);
}
.page_7 .content .footer .left .infos .info {
  display: flex;
  align-items: center;
}
.page_7 .content .footer .left .infos .info .icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.page_7 .content .footer .left .infos .info .icon img {
  width: 16px;
}
.page_7 .content .footer .left .infos .info p {
  font-size: 10px;
  margin: 0;
}
.page_7 .content .footer .right .fb, .page_7 .content .footer .right .ig {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
}
.page_7 .content .footer .right .fb img, .page_7 .content .footer .right .ig img {
  width: 20px;
}

@media screen and (min-width: 768px) {
  .page_7 {
    padding: 24px;
    margin-top: 64px;
  }
  .page_7 .content .banner {
    height: 400px;
  }
  .page_7 .content .banner img {
    height: 400px;
  }
  .page_7 .content .banner p {
    width: 400px;
    font-size: 24px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 12px);
    left: calc(50% - 200px);
  }
  .page_7 .content hr {
    width: 120px;
    margin-top: 56px;
  }
  .page_7 .content h2 {
    font-size: 20px;
  }
  .page_7 .content h4 {
    font-size: 14px;
  }
  .page_7 .content .shopping_list {
    padding: 0px 32px;
  }
  .page_7 .content .shopping_list .list {
    margin-bottom: 32px;
  }
  .page_7 .content .shopping_list .line {
    margin-bottom: 24px;
  }
  .page_7 .content .shopping_list .btn {
    margin: 56px auto;
    width: 120px;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
  }
}
@media screen and (min-width: 1080px) {
  .page_7 {
    padding: 40px;
    margin-top: 72px;
  }
  .page_7 .content .banner {
    height: 480px;
  }
  .page_7 .content .banner img {
    height: 480px;
  }
  .page_7 .content h2 {
    font-size: 24px;
  }
  .page_7 .content h4 {
    font-size: 16px;
  }
  .page_7 .content .shopping_list {
    padding: 0px 72px;
  }
  .page_7 .content .shopping_list .list .product img {
    width: 200px;
    height: 120px;
    margin-right: 16px;
  }
  .page_7 .content .shopping_list .list .product .text h4 {
    font-size: 20px;
    margin-top: 8px;
  }
  .page_7 .content .shopping_list .list .product .text p {
    font-size: 16px;
    margin-top: 32px;
  }
  .page_7 .content .shopping_list .list .price {
    right: 16px;
    font-size: 20px;
  }
  .page_7 .content .shopping_list .line {
    margin-bottom: 32px;
  }
  .page_7 .content .shopping_list .total {
    padding: 0px 16px;
  }
  .page_7 .content .shopping_list .total .text, .page_7 .content .shopping_list .total .price {
    font-size: 24px;
  }
  .page_7 .content .footer .left .logo {
    width: 80px;
    height: 80px;
    margin-right: 16px;
  }
  .page_7 .content .footer .left .infos .info .icon {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }
  .page_7 .content .footer .left .infos .info .icon img {
    width: 20px;
  }
  .page_7 .content .footer .left .infos .info p {
    font-size: 14px;
  }
  .page_7 .content .footer .right .fb, .page_7 .content .footer .right .ig {
    width: 24px;
    height: 24px;
  }
  .page_7 .content .footer .right .fb img, .page_7 .content .footer .right .ig img {
    width: 24px;
  }
  .page_7 .content .footer .right .fb {
    margin-right: 8px;
  }
}/*# sourceMappingURL=shopping_cart.css.map */