$Primary_default: #8DD7CC;
$Primary_dark: #63CCBC;
$Primary_tint: #EFF9F7;
$Secondary_default: #EEB8AF;
$Secondary_dark: #EC7865;
$Secondary_tint: #F5DDD9;
$Black: #000;
$White: #FFF;
$Card_default: #D7BF6A;
$Card_dark: #D3AF2F;
$Card_tint: #DCCE9E;

* {
    box-sizing: border-box;
    // border: 1px solid;
    font-family: 'Laila', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@mixin size($w, $h){
    width: $w;
    height: $h;
}

.logo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ham-menu {
    width: 24px;
    height: 24px;
    cursor: pointer;
    background-image: url(../img/side_menu.png);
    background-size: cover;
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 200;
}

@media screen and (min-width:1080px) {
    .ham-menu {
        display: none;
    }
}

.side_menu {
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 300;
    background-color: $White;
    box-shadow: 0px 1px 5px rgba($Black, 0.5);
    transition: 1s;
    .logo {
        width: 184px;
        height: 184px;
        margin: 56px auto 48px auto;
        background-image: url(../img/logo-green.png);
    }
    .menu {
        margin: 0;
        padding: 0;
        li {
            width: 100%;
            height: 48px;
            list-style: none;
            font-size: 16px;
            line-height: 48px;
            padding-left: 24px;
            cursor: pointer;
            color: rgba($Black, 0.7);
            &:hover {
                background-color: $Primary_tint;
                color: $Black;
            }
        }
        li.active {
            background-color: $Primary_default;
            color: $White;
        }
        hr {
            margin: 0;
            background-color: $Secondary_default;
            height: 2px;
            border: none;
        }
    }
}

.side_menu.active {
    left: 0;
}

.top_nav {
    width: 100%;
    height: 56px;
    border-bottom: 8px solid $Primary_default;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: $White;
    position: fixed;
    top: 0;
    z-index: 100;
    .homebtn {
        display: flex;
        align-items: center;
        width: 200px;
        cursor: pointer;
        transition: 0.5s;
        .logo {
            width: 56px;
            height: 56px;
            background-image: url(../img/logo-green.png);
        }
        .name p {
            margin: 0;
            font-size: 10px;
            color: $Primary_default;
        }
    }
    .options {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .top_nav {
        height: 64px;
        .homebtn {
            width: 208px;
            .logo {
                width: 64px;
                height: 64px;
            }
            .name p {
                font-size: 12px;
            }
        }
    }
}

@media screen and (min-width:1080px) {
    .top_nav {
        height: 80px;
        .homebtn {
            width: 272px;
            .logo {
                width: 80px;
                height: 80px;
                margin-right: 8px;
            }
            .name p {
                font-size: 16px;
            }
        }
        .options {
            display: flex;
            align-items: center;
            margin-right: 48px;
            li {
                list-style: none;
                font-size: 16px;
                margin-left: 32px;
                display: flex;
                cursor: pointer;
                color: $White;
                transition: 0.5s;
                &:hover {
                    color: $Primary_dark;
                }
                i {
                    font-size: 16px;
                }
                p {
                    margin: 0 0 0 8px;
                    color: rgba($Black, 0.7);
                    border-bottom: 2px solid $White;
                    transition: 0.5s;
                    &:hover {
                        color: $Black;
                    }
                }
            }
            .line {
                width: 2px;
                height: 40px;
                background-color: $Primary_default;
                margin-left: 32px;
            }
        }
    }
}

.options li.active {
    color: $White;
    p {
        color: $Black;
        border-bottom: 2px solid $Primary_dark;
    }
}

.page_4{
    width: 100%;
    padding: 16px;
    margin-top: 56px;
    .content{
        background-color: $Primary_tint;
        .banner{
            @include size(100%, 240px);
            position: relative;
            img{
                @include size(100%, 240px);
                opacity: 0.6;
            }
            p{
                width: 200px;
                font-size: 20px;
                margin: 0;
                position: absolute;
                text-align: center;
                top: calc(50% - 10px);
                left: calc(50% - 100px);
            }
        }
        h3{
            font-weight: 400;
            font-size: 18px;
            margin-top: 32px;
            text-align: center;
        }
        h4{
            font-weight: 400;
            margin: 16px 0;
            text-align: center;
        }
        .product{
            padding: 24px 40px;
            .pic_part{
                .pic{
                    @include size(100%, 220px);
                    background-image: url(../img/lemon_pie.png);
                    background-size: cover;
                }
                p{
                    margin: 16px 0;
                    font-size: 14px;
                    text-align: center;
                }
            }
            .text_part{
                p{
                    margin: 0;
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        .shop{
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
            .count{
                @include size(126px, 32px);
                display: flex;
                align-items: center;
                text-align: center;
                border: 1px solid $Black;
                border-radius: 4px;
                background-color: $White;
                .minus, .plus{
                    @include size(32px, 30px);
                    font-size: 24px;
                    cursor: pointer;
                    user-select: none;
                    background-color: $Secondary_default;
                    color: $White;
                    line-height: 32px;
                }
                .minus{
                    border-radius: 4px 0px 0px 4px;
                }
                .plus{
                    border-radius: 0px 4px 4px 0px;
                }
                .number{
                    @include size(64px, 32px);
                    font-size: 20px;
                    text-align: left;
                    padding-left: 8px;
                    line-height: 32px;
                }
            }
            .cart{
                @include size(64px, 32px);
                position: relative;
                border: 1px solid $Black;
                border-radius: 4px;
                margin-left: 16px;
                cursor: pointer;
                user-select: none;
                &:hover{
                    border: 2px solid $Black;
                }
                img{
                    @include size(20px, 20px);
                    position: absolute;
                    top: calc(50% - 10px);
                    left: calc(50% - 10px);
                }
            }
        }
        .footer{
            width: 100%;
            padding: 12px 16px;
            background-color: $Primary_dark;
            color: $White;
            display: flex;
            justify-content: space-between;
            .left {
                display: flex;
                align-items: center;
                .logo {
                    width: 64px;
                    height: 64px;
                    margin-right: 8px;
                    background-image: url(../img/logo-white.png);
                }
                .infos {
                    .info {
                        display: flex;
                        align-items: center;
                        .icon {
                            width: 16px;
                            height: 16px;
                            margin-right: 8px;
                            img {
                                width: 16px;
                            }
                        }
                        p {
                            font-size: 10px;
                            margin: 0;
                        }
                    }
                }
            }
            .right {
                .fb, .ig {
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    cursor: pointer;
                    img {
                        width: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px){
    .page_4{
        padding: 24px;
        margin-top: 64px;
        .content{
            .banner{
                height: 400px;
                img{
                    height: 400px;
                }
                p{
                    width: 400px;
                    font-size: 24px;
                    margin: 0;
                    position: absolute;
                    text-align: center;
                    top: calc(50% - 12px);
                    left: calc(50% - 200px);
                }
            }
            h4{
                margin: 16px 0 24px 0;
            }
            .product{
                display: flex;
                justify-content: center;
                .pic_part{
                    margin-right: 40px;
                    .pic{
                        @include size(360px, 220px);
                    }
                }
                .text_part{
                    p{
                        width: 320px;
                        margin-top: 24px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1080px){
    .page_4{
        padding: 40px;
        margin-top: 72px;
        .content{
            .banner{
                height: 480px;
                img{
                    height: 480px;
                }
            }
            h3{
                font-size: 20px;
                margin-top: 40px;
            }
            h4{
                font-size: 18px;
                margin: 16px 0 40px 0;
            }
            .product{
                display: flex;
                justify-content: center;
                .pic_part{
                    width: 46%;
                    margin-right: 80px;
                    .pic{
                        @include size(100%, 320px);
                    }
                    p{
                        font-size: 16px;
                    }
                }
                .text_part{
                    width: 46%;
                    p{
                        width: 100%;
                        font-size: 16px;
                        margin-top: 56px;
                        line-height: 48px;
                    }
                }
            }
            .shop{
                margin-top: 24px;
            }
            .footer{
                .left{
                    .logo{
                        width: 80px;
                        height: 80px;
                        margin-right: 16px;
                    }
                    .infos{
                        .info{
                            .icon{
                                width: 24px;
                                height: 24px;
                                margin-right: 4px;
                                img{
                                    width: 20px;
                                }
                            }
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .right{
                    .fb, .ig{
                        width: 24px;
                        height: 24px;
                        img{
                            width: 24px;
                        }
                    }
                    .fb{
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}